{% extends "base.html" %} {% block title %}Add New Employee Records{% endblock title %} {% block content %}

<style>
    .container {
        /* border: 2px outset black; */
        background-color: lightblue;
    }
</style>
<div class="col-md-12">
    <h2>Add Employee Details: </h2>
    <!-- <div class="alert alert-{{ message.tag }}" role="alert" id="message_container">
        <p {% if message.tags %} class="" {% endif %}>{{message}}</p>

    </div> -->
    <span> <a class="btn btn-primary" href="http://127.0.0.1:8000/upload" role="button">BulkUpload</a></span>

    <form method="POST" class="post-form" action="/addnew">
        {% csrf_token %}



        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3 style="color: rgb(248, 133, 80);">Enter Details:</h3>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Status:</label>
                <div class="col-sm-4">
                    {{ form.status }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">EmployeeId:</label>
                <div class="col-sm-4">
                    {{ form.emp_id }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ResourceName:</label>
                <div class="col-sm-4">
                    {{ form.resource_name }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Practice:</label>
                <div class="col-sm-4">
                    {{ form.practice }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Department:</label>
                <div class="col-sm-4">
                    {{ form.department }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ReportingManagers:</label>
                <div class="col-sm-4">
                    {{ form.reporting_managers }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">PracticeLead:</label>
                <div class="col-sm-4">
                    {{ form.practice_lead }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">DateOfJoining:</label>
                <div class="col-sm-4">
                    {{ form.date_of_joining }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location:</label>
                <div class="col-sm-4">
                    {{ form.location }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">MtExperience:</label>
                <div class="col-sm-4">
                    {{ form.mt_experience }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">NonMtExperience:</label>
                <div class="col-sm-4">
                    {{ form.non_mt_experience }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Gender:</label>
                <div class="col-sm-4">
                    {{ form.gender }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Grade:</label>
                <div class="col-sm-4">
                    {{ form.grade }}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- <script>
    var message_ele = document.getElementById("message_container");

    setTimeout(function() {
        message_ele.style.display = "none";
    }, 2000);
</script> -->

{% endblock content %}